#!/bin/sh
# Copyright 2023 Sylvain BOILY (see the LICENSE file)
# SPDX-License-Identifier: MIT

case "$1" in
    build)
    ;;

    package)
        mkdir -p ${pkgdir}/etc/asterisk/extensions_extra.d
        cp usersharedlines.conf ${pkgdir}/etc/asterisk/extensions_extra.d/
    ;;

    install)
        asterisk -x 'dialplan reload'
    ;;

    uninstall)
        asterisk -x 'dialplan reload'
    ;;

    postrm)
    ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
